@import "tailwindcss";

:root {
  --background: #E7E9EE;
  --header: #5429CC;
  --foreground: #171717;
  --button: #6933FF;
  --income: #33CC95;
  --outcome: #E52E4D;
  --title: #363F5F;
}

@theme inline {
  --color-background: var(--background);
  --color-header: var(--header);
  --color-foreground: var(--foreground);
  --color-button: var(--button);
  --color-income: var(--income);
  --color-outcome: var(--outcome);
  --color-title: var(--title);
}

@media (prefers-color-scheme: inline) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', Arial, sans-serif;
}

table {
  width: 100%;
}

th, td {
  padding: 1rem;
  text-align: left;
}

tbody tr {
  background-color: white;
  margin-bottom: 0.5rem;
}

tbody td:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tbody td:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  animation: modalFadeIn 0.3s;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}